.products{
    border-radius: 50px;
    display:flex;
    flex-wrap: wrap;
	justify-content: center;
    width:100%;
    align-items: stretch;
}

.product-card{
    margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
    width:20%;
    border-radius: 10px;
    padding: 2%;
    background-color: #fff;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}
.product-card:hover{
    cursor: pointer;
}

  @media (max-width: 600px) {
    .product-card {
      flex: 1 100%;
    }
   
  }