
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
    
    body {
      margin: 0 auto;
      width: 90%;
      max-width: 1240px;
      font-family: "Roboto", sans-serif;
      background-color: #f6f6f6;
    }
   
    // @media (max-width: 920px) {
    //   .product-card {
    //     // flex: 1 21%;
    //   }
    
    //   // .products .product-card:first-child,
    //   // .products .product-card:nth-child(2) {
    //   //   flex: 2 46%;
    //   // }
    // }
    
    // @media (max-width: 600px) {
    //   .product-card {
    //     // flex: 1 46%;
    //   }
    //   .product-filter {
    //     flex-direction: column;
    //   }
    
    //   .sort {
    //     align-self: flex-start;
    //   }
    // }
    
    // @media (max-width: 480px) {
    //   h1 {
    //     margin-bottom: 20px;
    //   }
    
    //   .product-filter {
    //     flex-direction: column;
    //   }
    
    //   .sort {
    //     align-self: flex-start;
    //   }
    // }